<div class="container experiments">
  <h1>Add New Experiment for Dr. <%= @scientist.name %></h1>

  <div class="add-background">
    <br>
    <%= form_for @experiment, url: scientist_experiments_path(@scientist), method: :post do |f| %>
      <div class="row">
        <div class="field col-md-3">
          <%= f.label "Name of Experiment: " %> <br>
          <%= f.text_field :name %>
        </div>
        <div class="field col-md-3">
          <%= f.label "Budget: " %> <br>
          <%= f.number_field :budget %>
        </div>
        <div class="field col-md-6">
          <%= f.label "Summary: " %> <br>
          <%= f.text_area :summary %>
        </div>
      </div>
      <br>
      <%= f.fields_for :log_details do |log_form| %>
        <div class="row">
          <div class="col-md-offset-1">
            <h3 class="col-md-3">First Log: </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-1">
            <div class="field col-md-3">
              <%= log_form.label "Subject Name: " %> <br>
              <%= log_form.text_field :subject_name %>
            </div>
            <div class="field col-md-3">
              <%= log_form.label "Weight: " %> <br>
              <%= log_form.text_field :weight %>
            </div>
            <div class="field col-md-3">
              <%= log_form.label "Treatments: " %>
              <%= log_form.number_field :treatments %>
            </div>
            <div class="field col-md-2">
              <%= log_form.label "Deceased? " %>
              <%= log_form.check_box :deceased %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-1">
            <div class="field col-md-10 exp-log-comment-text-field">
              <%= log_form.label "Comment " %>
              <%= log_form.text_area :comment, class: 'exp-log-comment-text-area' %>
            </div>
          </div>
        </div>
      <% end %>
      <br>
      <div class="row">
        <div class="col-md-2">
          <%= button_tag(type: 'submit', class: 'btn btn-success') do %>
            <i class="icon-ok icon-white"></i> Add Experiment
          <% end %>
        </div>
        <div class="col-md-2">
          <%= link_to 'Back', "/scientists/#{ @experiment.scientist_id }", class: 'btn btn-secondary' %>
        </div>
      </div>
    <% end %>
  </div>

</div>
